/* Location cards container */
.location-cards-container {
    margin-top: 30px;
}

/* Location Card Styling */
.location-card {
    position: relative;
    width: 100%;
    max-width: 490px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

/* Card image container */
.card-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.card-image-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    will-change: transform;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Location label */
.location-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 109px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.86) 0%,
            rgba(46, 46, 46, 0.64) 45.5%,
            rgba(102, 102, 102, 0.00) 100%);
    color: #FFF;
    font-family: "Trap", sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 10;
    /* Ensure it's above the image */
}

/* Media Queries */
@media (max-width: 767px) {
    .location-card {
        height: 300px;
        margin-bottom: 30px;
    }

    .section-heading {
        font-size: 20px;
    }

    .location-label {
        height: 80px;
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .location-card {
        height: 250px;
    }

    .location-label {
        height: 60px;
        font-size: 16px;
    }
}