.content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
}

.intro-text {
  margin-bottom: 30px !important;
  /* font-size: 18px !important; */
  /* font-family: "Trap"; */
  color: #2c2c2c !important;
  font-weight: 100 !important;
}

.solu-img {
  border-radius: 15px !important;
  object-fit: cover;
}

#sol-img2 {
  max-height: 60vh;
  width: 100%;
  object-fit: cover;
  border-radius: 15px !important;
}

.right-img-container {
  height: 90vh;
  display: flex;
  align-items: center;
}

#sol-img3 {
  height: 90vh;
  width: 100%;
  object-fit: cover;
  border-radius: 15px !important;
}

@media screen and (max-width: 767px) {
  section {
    height: auto;
    min-height: 100vh;
  }

  .section-heading {
    font-size: 18px !important;
  }

  .solution-container {
    height: auto;
    flex-direction: column;
  }

  .content-wrapper {
    margin-bottom: 20px;
  }

  #sol-img2 {
    max-height: 40vh;
  }

  .right-img-container {
    height: 50vh;
    width: 100%;
  }

  #sol-img3 {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {

  #sol-img3 {
    width: 100% !important;
    height: 300px !important;
    object-fit: cover !important;
    margin-top: 1.5rem;
  }
}